.users {
  padding: 2rem 1rem;
  max-width: 500px;
  margin-inline: auto;
}

.card {
  background: var(--card-background);
  padding: 1.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--card-shadow);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  color: var(--text-color);
}

.card:hover {
  box-shadow: var(--card-hover-shadow)
}

.card+.card {
  margin-block-start: .75rem;
}

p {
  font-size: 20px;
  line-height: 1.2;
  margin: .5rem 0;
}

small {
  color: var(--theme-color-primary);
  text-transform: lowercase;
}
